.seats {
    display: grid;
    grid-template-columns: 1fr repeat(9, 1fr);
    gap: 18px 0;
    margin: 13.5px;
}

.seat {
    border-radius: 100%;
    height: 26px;
    width: 26px;
    border: 1px solid #1AAE9E;
    font-size: 11px;
    margin: 0 auto;
}

.seats .seat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seats-info {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.seats-info span {
    margin-top: 10px;
}

.selected {
    background-color: #8DD7CF;
}

.available {
    background-color: #C3CFD9;
}

.unavailable {
    background-color: #FBE192;
}

.buyerData {
    margin: 40px 13.5px 30px 13.5px;
    display: flex;
    flex-direction: column;
}

.buyerData label {
    font-size: 18px;
    color: #293845;
}

.buyerData .data {
    width: calc(100% - 6.75px);
    margin-bottom: 7px;
    border: 1px solid #D4D4D4;
    height: 51px;
    font-size: 18px;
    font-style: italic;
    display: flex;
}

.submit {
    width: 225px;
    height: 42px;
    color: #fff;
    background-color: #E8833A;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.submitButton {
    width: 225px;
    height: 42px;
    margin: 57px auto 30px;
}