.seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px 7px;
    /* display: grid; */
    /* grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 26px;
    grid-auto-columns: 26px;
    grid-gap: 18px 7px; */
    padding: 0 24px;
}

.seats .seat {
    border-radius: 100%;
    height: 26px;
    width: 26px;
    background-color: #C3CFD9;
    /* border: 1px solid blue;
    border-radius: 100%; */
}