body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #C3CFD9;
    height: 67px;
    display: flex;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 34px;
    color: #E8833A;
    margin: auto;
}

section h1 {
    font-size: 24px;
    color: #293845;
    margin: 50px 0 50px;
    text-align: center;
}

.backToLastPage {
    display: flex;
    position: absolute;
    left: 24px;
    top: 13.5px;
}